@font-face {
    font-family:"Jointbypizzadude";
    src:    url("../fonts/Jointbypizzadude/jointbypizzadude.eot?")                format("eot"),
            url("../fonts/Jointbypizzadude/jointbypizzadude.woff")                format("woff"),
            url("../fonts/Jointbypizzadude/jointbypizzadude.ttf")                 format("truetype"),
            url("../fonts/Jointbypizzadude/jointbypizzadude.svg#jointbypizzadude")    format("svg");
    font-weight:normal;
    font-style:normal;
}
